body {background-color: rgb(189, 131, 23); text-align: center;}
h1 {color: white;}

#container{
  width: 80%;
  margin:auto;

}

nav {
  border-bottom: 2px double black;
  margin-bottom: 5px;
}

a {text-decoration:none}
p {font-family: 'Indie Flower', cursive; color: white}
footer {color: white}

.story{
  border-style: solid;
  background-color: white;
  text-align: center;
  color: black;
  font-family: 'Open Sans', sans-serif;
  display: block;
  white-space: pre-line;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
